.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    .intro__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $secondary url() no-repeat center center;
        background-size: cover;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0, 0, 0, 0.65);
        }
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
        }
    }
    .intro__content {
        width: 100%;
        z-index: 10;
        text-align: center;
        .intro__wrapper {
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1140px;
            margin: 0 auto;
        }
        .intro__nav {
            position: absolute;
            width: 100%;
            left: 0;
            height: 100px;
            display: flex;
            align-items: center;
            margin: 0;
            transition: all 0.3s cubic-bezier(0.5, 0.05, 0.3, 0.55); //* cubic-bezier(0.46, 0.05, 0, 0.55)
            &.intro__nav-small {
                position: fixed !important;
                padding: 0 !important;
                height: 70px !important;
                z-index: 20;
                top: 0;
                left: 0;
                background-color: $secondary;
                svg.intro__logo {
                    width: 45px !important;
                }
            }
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                @media screen and (max-width: 838px) {
                    display: none;
                }
                li {
                    margin-right: 100px;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    @media screen and (max-width: 1000px) {
                        margin-right: 75px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    a {
                        font-family: "Roboto";
                        font-weight: 500;
                        color: #fff;
                        text-decoration: none;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
            svg.intro__logo {
                z-index: 50;
                transform: translateX(-7px);
                width: 70px;
                transition: width 0.3s cubic-bezier(0.5, 0.05, 0.3, 0.55);
            }
        }

        .intro__text {
            padding: 200px 0 0 0;
            .intro__hr-wrapper {
                .intro__hr {
                    transform: translateY(-85px);
                    max-width: 1140px;
                    border: none;
                    height: 1px;
                    background-color: $neutral;
                    transition: all 0.15s;
                    opacity: 0.6;
                    &.hideHR {
                        opacity: 0;
                    }
                }
            }
            h1 {
                color: #fff;
                font-family: $primary-font;
                font-weight: 400;
                font-size: 30px;
                line-height: 1.4;
                @media screen and (max-width: 650px) {
                    font-size: 24px;
                }
            }
            h2 {
                color: #fff;
                font-family: $primary-font;
                font-weight: 700;
                font-size: 90px;
                line-height: 0.98;
                @media screen and (max-width: 838px) {
                    font-size: 70px;
                }
                @media screen and (max-width: 650px) {
                    font-size: 50px;
                }
            }
        }
    }
}

.test {
    height: 1000px;
}
